.appearance__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appearance__header__body {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.appearance__header__left,
.appearance__header__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appearance__body > .MuiCheckbox-root {
  margin-left: auto;
}
.appearance__body .MuiIconButton-label {
  background: #f3f3f81f !important;
}
.appearance__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appearance__default_conversation_color {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
}

.appearance__colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.appearance__colors div {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 8px;
  padding: 2px;
  transition: box-shadow 0.5s;
}
.appearance__colors div:hover {
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}
.appearance__colors .blue {
  background: #34a5e9;
}

.appearance__colors .red {
  background: #e60505;
}
.appearance__colors .yellow {
  background: #ffae00;
}
.appearance__colors .green {
  background: #5dbf0d;
}
.appearance__colors .purple {
  background: #a30adb;
}
.appearance__colors .pink {
  background: #f278af;
}
.appearance__colors .orange {
  background: #ff8800;
}
