.register {
  display: flex;
}
.register__left {
  justify-content: flex-start;
}
.register__left > .login__backArrow {
  margin-top: 20px;
}
.register__left__stepper {
  margin-top: 50px !important;
  width: 70%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.register__step__information {
  padding-left: 30px;
}
.register__img {
  width: 400px;
}

.show_hide_eye {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-100%, 0%);
}
